// Archive
//
// page is wrapped in `.archive` and is only used on the page layout.

// Page title
.archive {
  h1, a {
    font-size: 1.2rem;
  }
}

// Meta data line below archive title
.archive-date {
  display: inline-block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  font-size: 0.4em;
  color: #9a9a9a;
}
