<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="naver-site-verification" content="e9c95a1ae67927e4193ca7957e5db8fb4cc0e708"/>
    <meta name="google-site-verification" content="AT_RmizIndfQC26Cx5XSF5SBVD_3U6WEMAzsdtbffNA" />
    <meta name="description" content="docs">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>docs</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">docs</h1>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

      {{ content }}

      <div align="right">Last Updated: {{ site.time | date_to_string }}</div>

      </section>
    </div>
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p><a href="http://likejazz.com/about/">About</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
    
  </body>
</html>
